@using Store_EF.Models
@model User

@{
    ViewBag.title = "Sign In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .fortgot-password-act {
        margin-top: 12px;
        color: #db4444;
        width: 100%;
        display: block;
        text-align: right;
    }

    .fortgot-password-act:hover {
        text-decoration: underline;
    }

</style>

<div class="signup-in">
    <div class="signup-in__sideimg">
        <img src="~/Public/imgs/banner-sign.png" alt="" />
    </div>
    <div class="signup-in__form">
        <h2 class="signup-in__form-title">Đăng nhập tài khoản</h2>
        <p class="signup-in__form-desc">
            Nhập thông tin chi tiết bên dưới
        </p>
        @using (Html.BeginForm("SignIn", "Auth", FormMethod.Post, new { @class = "signup-in__form-group" }))
        {
            <div class="signup-in__form-item">
                @Html.LabelFor(m => m.Email, new { @class = "signup-in__form-item-label", @for = "email" })
                @Html.TextBoxFor(m => m.Email, new { @class = "signup-in__form-item-input", id = "email", type = "text" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="signup-in__form-item">
                @Html.LabelFor(m => m.Password, new { @class = "signup-in__form-item-label", @for = "password" })
                @Html.PasswordFor(m => m.Password, new { @class = "signup-in__form-item-input", id = "password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            @Html.ActionLink("Quên mật khẩu ?", "ForgotPassword", "Auth", new { @class = "fortgot-password-act" })

            <div class="signup-in__form-redirect mt-40">
                <button class="btn btn--signin" type="submit">Đăng nhập</button>
            </div>
        }

    </div>
</div>