@using Store_EF.Models
@using Store_EF.Models.Extensions
@model Order
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    StoreEntities store = new StoreEntities();
    int userId = int.Parse(Session["UserId"].ToString());
    User user = store.Users.First(x => x.UserId == userId);
    Payment payment = Model.Payments.First(x => x.OrderId == Model.OrderId);
}

<div class="orderdetail">
    <div class="orderdetail__header">
        @if (user.RoleName == "Admin")
        {
            <a href="@Url.Action("Management", "Order")" class="orderdetail__header-back">
                <img src="~/Public/icons/agnle-left.svg" alt="" />
                <span>Trở lại</span>
            </a>
        }
        else
        {
            <a href="@Url.Action("Index", "Order")" class="orderdetail__header-back">
                <img src="~/Public/icons/agnle-left.svg" alt="" />
                <span>Trở lại</span>
            </a>
        }
    <div class="orderdetail__header-detail">
        <span>Mã đơn hàng: @Model.OrderId</span>
        <span>|</span>
        @if (payment.Status == "Succeeded")
        {
            <span class="orderdetail__header-detail-status" style="color:green">
                @Model.Status
            </span>
        }
        else
        {

            <span class="orderdetail__header-detail-status">
                @Model.Status
            </span>
        }
    </div>
    </div>

    <div class="orderdetail-line"></div>
    <div class="orderdetail__info">
        <div class="orderdetail__info-user">
            <div class="orderdetail__info-user-header">
                Thông tin hoá đơn
            </div>
            <div class="orderdetail__info-user-name">
                Đơn hàng đã đặt
                <div class="orderdetail__info-user-address">
                    <span>@Model.CreatedAt.ToString("HH:mm dd-MM-yyyy")</span>
                </div>
            </div>
            <br />
            @if (payment.Status == "Succeeded")
            {
                <div class="orderdetail__info-user-name">
                    Đơn hàng đã thanh toán
                    <div class="orderdetail__info-user-address">
                        <span>@payment.PaymentDate.Value.ToString("HH:mm dd-MM-yyyy")</span>
                    </div>
                </div>
            }
            else if (payment.Status == "Failed" || (payment.Expiry < DateTime.Now && payment.Status == "Waitting"))
            {
                <div class="orderdetail__info-user-name">
                    Đơn hàng đã huỷ
                    <div class="orderdetail__info-user-address">
                        <span>@payment.Expiry.ToString("HH:mm dd-MM-yyyy")</span>
                    </div>
                </div>
            }
            else if (payment.Status == "Accepted")
            {
                <div class="orderdetail__info-user-name">
                    Đơn hàng đã được nhận
                </div>
            }
            else if (payment.Status == "Refunded")
            {
                <div class="orderdetail__info-user-name">
                    Đơn hàng đã hoàn tiền
                </div>
            }
            else if (payment.Status == "Refunding")
            {
                <div class="orderdetail__info-user-name">
                    Đang chờ đơn hàng hoàn tiền
                </div>
            }
            <hr />
            <div class="orderdetail__info-user-header">
                Địa chỉ nhận hàng
            </div>
            <div class="orderdetail__info-user-name">
                <span>@Model.Name</span>
            </div>
            <div class="orderdetail__info-user-address">
                <span>@Model.Phone</span>
                <span>
                    @Model.Address
                </span>
            </div>
            @if (user.RoleName == "Admin")
            {
                <hr />
                <div class="orderdetail__info-user-header">
                    Thông tin người đặt
                </div>
                <div class="orderdetail__info-user-name">
                    <span>@Model.User.UserDetail.Name</span>
                </div>
                <div class="orderdetail__info-user-address">
                    <span>@Model.User.UserDetail.Phone - @Model.User.Email</span>
                </div>
            }
        </div>
        <div class="orderdetail__info-product">
            <div class="orderdetail__info-product-header">
                Sản phẩm đã mua
            </div>
            <div class="orderdetail__info-product-list">
                <!-- Danh Sách sản phẩm đã mua -->

                @foreach (OrderDetail detail in Model.OrderDetails)
                {
                    <div class="orderdetail__info-product-item">
                        <img src="~/Public/Imgs/Products/@detail.Product.Thumbnail()"
                             alt=""
                             class="orderdetail__info-product-item-img" />
                        <div class="orderdetail__info-product-item-detail">
                            <div class="orderdetail__info-product-item-name">
                                @detail.Product.Title
                            </div>
                            <div class="orderdetail__info-product-item-quantity">
                                x @detail.Quantity
                            </div>
                        </div>
                        <div class="orderdetail__info-product-price">
                            <span class="orderdetail__info-product-price-curr">@Helpers.FormattedPrice(detail.TotalPrice())</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="orderdetail__bill-warp">
        @if (payment.Status == "Succeeded")
        {
            <div class="orderdetail-bottom">
                <form class="btn orderdetail-btn" action="@Url.Action("Accept", "Order")" method="post">
                    <input type="hidden" name="orderId" value="@Model.OrderId" />
                    <button class="btn orderdetail-btn" type="submit">Đã nhận hàng</button>
                </form>
                <form class="btn orderdetail-btn" action="@Url.Action("Refund", "Order")" method="post">
                    <input type="hidden" name="orderId" value="@Model.OrderId" />
                    <button class="btn orderdetail-btn" type="submit">Hoàn tiền</button>
                </form>
            </div>
        }
        @if (payment.Status == "Refunding" && user.RoleName == "Admin")
        {
            <div class="orderdetail-bottom">
                <form class="btn orderdetail-btn" action="@Url.Action("Refund", "Order")" method="post">
                    <input type="hidden" name="orderId" value="@Model.OrderId" />
                    <button class="btn orderdetail-btn" type="submit">Đã hoàn tiền</button>
                </form>
            </div>
        }
        @if (payment.Status == "Waitting" && payment.Method == "Cash" && user.RoleName == "Admin")
        {
            <div class="orderdetail-bottom">
                <form class="btn orderdetail-btn" action="@Url.Action("Accept", "Order")" method="post">
                    <input type="hidden" name="orderId" value="@Model.OrderId" />
                    <button class="btn orderdetail-btn" type="submit">Đã nhận tiền & Đưa hàng</button>
                </form>
            </div>
        }
        <div class="orderdetail__bill">
            <div class="orderdetail__bill-item">
                <span>Thành tiền: </span>
                <span class="orderdetail__bill-item-price finalPrices">@Helpers.FormattedPrice(Model.TotalPrice())</span>
            </div>
        </div>
    </div>
</div>