@using Store_EF.Models;
@using Store_EF.Models.Extensions;
@model IEnumerable<Cart>
@{
    ViewBag.Title = "CheckOut";
    StoreEntities store = new StoreEntities();
    int userId = int.Parse(Session["UserId"].ToString());
    User_ user = store.Users.First(x => x.UserId == userId);
    UserDetail userDetail = user.UserDetail;
}

<div class="product-container">
    <!-- Breakcrumbs -->
    <ul class="breakcrumbs">
        <li>
            <a href="@Url.Action("Index", "Home")"
               class="breakcrumbs__link">
                Trang chủ
            </a>
        </li>
        <li>
            <a href="#!"
               class="breakcrumbs__link breakcrumbs__link--current">
                Thanh toán
            </a>
        </li>
    </ul>
</div>
<div class="checkout">
    <p class="checkout__title">Chi tiết đơn hàng</p>
    <form action="" class="checkout__form">
        <div class="checkout__form-input">
            <div class="checkout__form-group">
                <label for="fullname">
                    Họ và tên
                    <span class="checkout__form-required">*</span>
                </label>
                <input type="text"
                       id="fullname"
                       name="fullname"
                       value="@userDetail.Name"
                       required />
            </div>
            <div class="checkout__form-group">
                <label for="email">Email</label>
                <input type="email"
                       id="email"
                       name="email"
                       maxlength="320"
                       value="@user.Email"
                       required />
            </div>
            <div class="checkout__form-group">
                <label for="phone">Số điện thoại</label>
                <input type="tel"
                       id="phone"
                       name="phone"
                       maxlength="11"
                       value="@userDetail.Phone"
                       required />
            </div>
            <div class="checkout__form-group">
                <label for="address">Địa chỉ</label>
                <input type="text"
                       id="address"
                       name="address"
                       value="@userDetail.Address"
                       required />
            </div>
            <div class="checkout__form-group">
                <label for="note">Ghi chú</label>
                <input type="text" id="note" name="note" />
            </div>
        </div>

        <div class="checkout__info">
            @{
                foreach (Cart c in Model)
                {
                    <div class="checkout__info-products">
                        <div class="checkout__info-product">
                            <div class="checkout__info-product-item">
                                <img src="~/Public/imgs/Products/@c.Product.Thumbnail(store)" alt="" />
                                <span>@c.Product.Title</span>
                            </div>
                            <div class="checkout__info-product-price">
                                @c.Product.FormattedPrice() x @c.Quantity
                            </div>
                        </div>
                    </div>
                }
            }
            @*<div class="checkout__info-products">
                <div class="checkout__info-product">
                    <div class="checkout__info-product-item">
                        <img src="~/Public/Imgs/product-1.svg" alt="" />
                        <span>LCD Monitor</span>
                    </div>
                    <div class="checkout__info-product-price">
                        100.000
                    </div>
                </div>
            </div>
            <div class="checkout__info-products">
                <div class="checkout__info-product">
                    <div class="checkout__info-product-item">
                        <img src="~/Public/Imgs/product-1.svg" alt="" />
                        <span>LCD Monitor</span>
                    </div>
                    <div class="checkout__info-product-price">
                        100.000
                    </div>
                </div>
            </div>*@
            <div class="checkout__info-warp">
                <div class="checkout__info-item">
                    @{ 
                        int totalPrice = Model.TotalPrice(store);
                        int shippingPrice = 0;
                    }
                    <span>Tạm tính: </span>
                    <span class="checkout__info-item-price">@Helpers.FormattedPrice(totalPrice)</span>
                </div>
                <div class="checkout__info-item">
                    <span>Vận chuyển: </span>
                    <span class="checkout__info-item-price">@Helpers.FormattedPrice(shippingPrice)</span>
                </div>
                <div class="checkout__info-item">
                    <span>Tổng cộng: </span>
                    <span class="checkout__info-item-price">@Helpers.FormattedPrice(totalPrice + shippingPrice)</span>
                </div>
            </div>
            <div class="checkout__method">
                <div class="checkout__method-item">
                    <div class="checkout__method-radio">
                        <input type="radio"
                               name="checkout__method"
                               id="checkout__method-bank" />
                        <label for="checkout__method-bank">Ngân hàng</label>
                    </div>
                    @*<div class="checkout__method-imgs">
                    <img src="~/Public/icons/visa-icon.png"
                         alt=""
                         class="checkout__method-img" />
                    <img src="~/Public/icons/master-card-icon.png"
                         alt=""
                         class="checkout__method-img" />
                </div>*@
                </div>
                <div class="checkout__method-item">
                    <div class="checkout__method-radio">
                        <input type="radio"
                               name="checkout__method"
                               id="checkout__method-transfer" />
                        <label for="checkout__method-transfer">Tiền mặt</label>
                    </div>
                </div>
                @*<div class="checkout__method-qr">
                <img src="~/Public/icons/qr-code.png" alt="" />
            </div>*@
            </div>
            <div class="checkout__action">
                <button class="btn btn--primary">
                    Tiến hành thanh toán
                </button>
            </div>
        </div>
    </form>
</div>

@*<script>
            // Lấy các phần tử radio button và vùng chứa QR code
            const bankRadio = document.getElementById('checkout__method-bank');
            const qrRadio = document.getElementById(
                'checkout__method-transfer'
            );
            const qrCodeDiv = document.querySelector('.checkout__method-qr');

            // Lắng nghe sự thay đổi của radio button
            bankRadio.addEventListener('change', function () {
                if (bankRadio.checked) {
                    qrCodeDiv.style.display = 'none'; // Ẩn QR code khi chọn "Ngân hàng"
                }
            });

            qrRadio.addEventListener('change', function () {
                if (qrRadio.checked) {
                    qrCodeDiv.style.display = 'block'; // Hiển thị QR code khi chọn "QR CODE"
                }
            });
</script>*@