@using Store_EF.Models;
@using Store_EF.Models.Extensions;
@using System.Configuration;
@model Payment
@{
    ViewBag.Title = "Payment";
    string bank = ConfigurationManager.AppSettings["Bank"];
    string account = ConfigurationManager.AppSettings["Account"];
    string fullName = ConfigurationManager.AppSettings["FullName"];
}

@if (Model.Method == "Bank")
{
    <div class="payment">
        <div class="payment__pay">
            <div class="payment__pay-status">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" style="color: green" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"></path>
                </svg>
                <span>Đơn hàng #@Model.Order.OrderId</span>
            </div>
            <div class="payment__pay-guid">
                <p>Hướng dẫn thanh toán qua chuyển khoản ngân hàng</p>
            </div>
            <div class="payment__pay-method">
                <div class="payment__pay-method__qr">
                    <div class="payment__pay-method__qr-title">
                        Cách 1: Mở app ngân hàng và quét mã QR
                    </div>
                    <img src="data:image/png;base64,@Model.QR()"
                         alt=""
                         class="payment__pay-method__qr-img" />
                    <div class="payment__pay-method__qr-status">
                        Trạng thái: <span id="status">Chờ thanh toán...</span>
                    </div>
                </div>
                <div class="payment__pay-method__transfer">
                    <div class="payment__pay-method__transfer-title">
                        Cách 2: Chuyển khoản thủ công theo thông tin
                    </div>
                    <div class="payment__pay-method__transfer-logobank">
                        <img src="~/Public/Imgs/MB.png" alt="" />
                        <div>Ngân hàng MBBank</div>
                    </div>
                    <table class="payment__pay-method__transfer-info">
                        <tbody>
                            <tr>
                                <td>Chủ tài khoản:</td>
                                <td><b>@fullName</b></td>
                            </tr>
                            <tr>
                                <td>Số TK:</td>
                                <td><b>@account</b></td>
                            </tr>
                            <tr>
                                <td>Số tiền:</td>
                                <td><b>@Helpers.FormattedPrice(Model.Order.TotalPrice())</b></td>
                            </tr>
                            <tr>
                                <td>Nội dung chuyển khoản:</td>
                                <td><b>@Model.Code</b></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="payment__pay-method__transfer-note">
                        Lưu ý: Vui lòng giữ nguyên nội dung chuyển khoản để hệ thống tự động xác nhận thanh toán.
                    </div>
                    <div>
                        <form action="@Url.Action("Cancel", "CheckOut")" method="post">
                            <input type="hidden" name="paymentId" value="@Model.PaymentId" />
                            <button type="submit" style="padding:10px;cursor:pointer">Huỷ đơn hàng</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="payment__info-order">
            <div class="payment__info-header">Thông tin đơn hàng</div>
            <div class="payment__info-product-list">
                @foreach (OrderDetail detail in Model.Order.OrderDetails)
                {
                    <div class="payment__info-block payment__info-product">
                        <span class="payment__info-product-title ellipsis">
                            @detail.Product.Title
                        </span>
                        <span class="payment__info-order-quantity">x @detail.Quantity</span>
                        <span class="payment__info-product-price">@Helpers.FormattedPrice(detail.Price)</span>
                    </div>
                }
            </div>
            <div class="payment__info-block payment__info-product-total">
                <span>Tổng:</span>
                <span class="payment__info-product-total-price">@Helpers.FormattedPrice(Model.Order.TotalPrice())</span>
            </div>
        </div>
    </div>

    <script>
        function startSSE() {
            var source = new EventSource('@Url.Action("Status", "CheckOut", new { code = Model.Code })');
            source.onmessage = function (event) {
                const statusEle = document.getElementById("status");
                if (event.data == 'Succeeded') {
                    statusEle.innerText = "Thanh toán thành công";
                    source.close();
                } else if (event.data == 'Failed') {
                    statusEle.innerText = "Thanh toán thất bại";
                    source.close();
                } else if (event.data == 'Refunding') {
                    statusEle.innerText = "Thanh toán thất bại (Sai số tiền)";
                    source.close();
                }
            };
            source.onerror = function (event) {
                console.log("Error occurred: ", event);
            };
            window.addEventListener('beforeunload', function () {
                console.log('Closing SSE connection...');
                source.close();
            });
        }
        setTimeout(startSSE, 2000);
    </script>
}
else
{
<div class="payment" style="width:100%; height:500px">
    <div class="payment__pay-status" style="margin: 0 auto; flex-direction:column; justify-content:center">
        <div class="payment__pay-status">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" style="color: orange" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"></path>
            </svg>
            <span>Đặt hàng thành công #@Model.Order.OrderId</span>
        </div>

        <span style="cursor:pointer; font-size:1.8rem; color:blue; margin-top:16px"><a href="@Url.Action("Index", "Products")">Tiếp tục mua hàng</a></span>
    </div>
</div>
}

