@using Store_EF.Models
@using Store_EF.Models.Extensions;
@model IEnumerable<Product>
@{
    ViewBag.Title = "Home Page";
    StoreEntities store = new StoreEntities();
}

<div class="container">
    <main>
        @Html.Partial("_Hero")
        <section class="product">
            <div style="text-align: center; margin-bottom: 20px; font-size: 30px; font-weight: 700; color: #db4444; text-transform:uppercase">
                Các sản phẩm khuyến mãi
            </div>
            <div class="product__list">
                @foreach (Product p in Model)
                {
                    double result = p.DiscountPercentage();
                    <a class="product__item" href="@Url.Action("Detail", "Products", new { Id = p.ProductId })">
                        <div class="product__img">
                            <img src="~/Public/Imgs/Products/@p.Thumbnail()" alt="" />
                            @if (result != 0)
                            {
                                <div class="product__sale">-@result%</div>
                            }
                        </div>
                        <div class="product__info">
                            <h3 class="product__name">@p.Title</h3>
                            <div class="products__price" style="font-weight:bold">@p.FormattedPrice() @if (result != 0) { <span style="color:dimgray;font-size:small;text-decoration:line-through"> @Helpers.FormattedPrice(p.Price)</span> }</div>
                        </div>
                    </a>
                }
            </div>
        </section>
    </main>
</div>

