
@{
    var RoleName = Session["RoleName"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Public/css/reset.css" rel="stylesheet" />
    <link href="~/Public/css/grid.css" rel="stylesheet" />
    <link href="~/Public/css/main.css" rel="stylesheet" />
    <link href="~/Public/css/profile.css" rel="stylesheet" />
    <link href="~/Public/css/cart.css" rel="stylesheet" />
    <link href="~/Public/css/admin.css" rel="stylesheet" />
    <link href="~/Public/css/CategoryBrand.css" rel="stylesheet" />
    <style>
        .main {
            margin-top: 40px;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }

        th, td {
            text-align: center;
        }
    </style>
</head>
<body>

    @Html.Partial("_Header")
    <div class="container">
        <div class="main">
            <nav class="user-view__menu">
                <ul class="side-nav">
                    <li class="side-nav--active">
                        <a href="@Url.Action("Profile", "UserAccount")">
                            <svg>
                                <use xlink:href="img/icons.svg#icon-settings"></use>
                            </svg>
                            Cài đặt
                        </a>
                    </li>
                </ul>
                @if ((string)RoleName == "Admin")
                {
                    <div class="admin-nav">
                        <h5 class="admin-nav__heading">Quản trị viên</h5>
                        <ul class="side-nav">
                            <li>
                                <a href="@Url.Action("ProductManagement", "Products")">
                                    <svg>
                                        <use xlink:href="img/icons.svg#icon-map"></use>
                                    </svg>
                                    Quản lý sản phẩm
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("UserManagement", "UserAccount")">
                                    <svg>
                                        <use xlink:href="img/icons.svg#icon-users"></use>
                                    </svg>
                                    Quản lý người dùng
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Categories")">
                                    <svg>
                                        <use xlink:href="img/icons.svg#icon-users"></use>
                                    </svg>
                                    Quản lý danh mục
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            </nav>
            @RenderBody()
        </div>

    </div>

    @Html.Partial("_Footer")
</body>
</html>
