<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/Content/css");*@

    <link href="~/Public/css/reset.css" rel="stylesheet" />
    <link href="~/Public/css/grid.css" rel="stylesheet" />
    <link href="~/Public/css/main.css" rel="stylesheet" />
    <link href="~/Public/css/profile.css" rel="stylesheet" />
    <link href="~/Public/css/cart.css" rel="stylesheet" />
    <link href="~/Public/css/admin.css" rel="stylesheet" />
    <link href="~/Public/css/checkout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/Toastify.min.css" />
</head>
<body>
    @Html.Partial("_Header")
    <div class="container">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Public/js/index.js"></script>
</body>
</html>
