@using Store_EF.Models
@using Store_EF.Models.Extensions;
@model IEnumerable<Cart>
@{
    StoreEntities store = new StoreEntities();
    ViewBag.Title = "Cart";
}

<link href="~/Public/css/cart.css" rel="stylesheet" />
<div class="cart container">
    <div class="product-container">
        <!-- Breakcrumbs -->
        <ul class="breakcrumbs">
            <li>
                <a href="#!" class="breakcrumbs__link">
                    Home
                    <img src="./assets/icons/arrow-right.svg" alt="" />
                </a>
            </li>
            <li>
                <a href="#!"
                   class="breakcrumbs__link breakcrumbs__link--current">
                    Cart
                </a>
            </li>
        </ul>
    </div>

    <div class="cart__main">
        <div class="cart__main-title">
            <div class="cart__main-title-item">Sản phẩm</div>
            <div class="cart__main-title-item">Giá</div>
            <div class="cart__main-title-item">Số lượng</div>
            <div class="cart__main-title-item">Tổng cộng</div>
        </div>
        <div class="cart__main-listitem">
            @foreach (Cart cart in Model) {

                <div class="cart__main-items" id="@cart.ProductId">
                    <!-- Sản phẩm -->
                    <div class="cart__main-item">
                        <div class="cart__main-product">
                            <img class="cart__main-product-thumbnail"
                                 src="~/Public/Imgs/Products/@cart.Product.Thumbnail(store)"
                                 alt="Product Image" />
                            <p class="cart__main-product-name">
                                @cart.Product.Title
                            </p>
                        </div>
                    </div>
                    <!-- Giá sản phẩm -->
                    <div class="cart__main-item">
                        <div class="cart__main-price">
                            <input type="hidden" name="price" value="@cart.Product.AutoPrice()" />
                            <span class="cart__price-product">@cart.Product.FormattedPrice()</span>
                        </div>
                    </div>
                    <!-- Số lượng -->
                    <div class="cart__main-item">
                        <div class="cart__main-quantity-warp">
                            <div class="cart__main-quantity">
                                <input class="cart__main-quantity-input"
                                       type="number"
                                       value="@cart.Quantity"
                                       name="@cart.ProductId"
                                       min="1" />
                                <div class="cart__main-quantity-btn">
                                    <button class="cart-btn-up">
                                        <img src="~/Public/icons/Drop-Up-Small.svg"
                                             alt="Increase quantity" />

                                    </button>
                                    <button class="cart-btn-down">
                                        <img src="~/Public/icons/Drop-Down-Small.svg"
                                             alt="Decrease quantity" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tổng giá trị của sản phẩm -->
                    <div class="cart__main-item">
                        <div class="cart__main-subtotal">
                            <span class="cart__total-product">@cart.Product.FormattedPrice(quantity: cart.Quantity)</span>
                        </div>
                    </div>
                </div>
            }                    
        </div>
    </div>
    @*<div class="cart__action">
        <div class="cart__action-item">
            <a href="@Url.Action("Index", "Home")" class="cart__action-item-text">Về trang chủ</a>
        </div>
        <div class="cart__action-item">
            <a href="#" class="cart__action-item-text">Cập nhật giỏ hàng</a>
        </div>
    </div>*@
    <div class="cart__checkout">
        <div class="cart__total">
            <p class="cart__total-header">Tổng giỏ hàng</p>
            <div class="cart__total-item">
                <span class="cart__total-title">Tạm tính: </span>
                <span id="cartSubtotal" class="cart__total-value">0</span>
            </div>
            @*<div class="cart__total-item">
                <span class="cart__total-title">Vận chuyển: </span>
                <div>
                    <span id="shippingCost" class="cart__total-value">0 </span><span>VND</span>
                </div>
            </div>*@
            @*<div class="cart__total-item">
                <span class="cart__total-title">Tổng cộng: </span>
                <span id="cartTotal" class="cart__total-value">0</span>
            </div>*@
            <div class="cart__action-btn">
                <a href="#" class=""> Tiến hành thanh toán </a>
            </div>
        </div>
    </div>
</div>

